- if message.user.name == current_user.name
  .message{ data: { message_id: message.id } }
    .message_current_user
      .message_content_cuurent_user
        = message.message
      .message_time_cuurent_user
        = current_date_in_Japanese message.created_at
        = message.already_reads[0].is_read ? "既読" : ""
- else
  .message{ data: { message_id: message.id } }
    .message_not_current_user
      .message_content_not_cuurent_user
        = message.message
      .message_time_not_cuurent_user
        = current_date_in_Japanese message.created_at
