.group_index_header
  = link_to 'トーク一覧', groups_path , class: 'fa fa-cog'
- @friends.each do |friend|
  .friends_index
    .friend_image
      = friend.name + "のアイコン"
    .friend_name
      = friend.name
    .start_talk
      - if (friend.groups & current_user.groups).present?
        - group = (friend.groups & current_user.groups)[0]
        = link_to 'トークに戻る', group_path(group)
      - else
        = form_with model: @new_group, url: "/groups" do |f|
          = f.hidden_field :friend_id, value: friend.id
          = f.submit '新しいトークを始める'
