.header
  %h3.username
    = @users[0].name == current_user.name ? @users[1].name : @users[0].name
  = link_to 'グループ一覧に戻る', groups_path
.content
  = render partial: :message, collection: @messages, as: :message
.form
  = form_with model: [@current_group, Message.new], class: 'message_form' do |f|
    = f.text_area :message, placeholder: 'メッセージを入力してください', class: 'input_message'
    = f.hidden_field :group_id, value: @current_group.id
